.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
 
}

 

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
  margin-bottom: 40px;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.footer-form label {
  font-size: 1rem;
  color: #ffffff;
}

.footer-form input,
.footer-form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #ffffff;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
  color: #8f8f8f;
}

.footer-form button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #f23005;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-form button:hover {
  background-color: #bf3e21;
}

.footer-form button:active {
  transform: scale(0.95);
}

.button-clicked {
  animation: button-click 0.3s ease;
}

@keyframes button-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
  .footer-form input,
  .footer-form textarea {
    font-size: 0.9rem;
  }

  .footer-form button {
    font-size: 0.9rem;
  }
}